.wrapper {
  margin-bottom: 1rem;
}

/* From uiverse.io by @alexruix */
.input {
  line-height: 2rem;
  width: 100%;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: .2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
 }

 .input:focus, input:hover {
  outline: none;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: #7a9cc6;
 }

 .input::placeholder {
  color: #777;
 }

 .input:focus::placeholder {
  opacity: 0;
  transition: opacity .3s;
 }








.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}
/* Input.module.css */
.readOnly {
  background-color: #ccc;
  cursor: not-allowed;
}
